/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

@font-face {
  font-family: "Katari-Medium";
  src: url(../fonts/Katari-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Harbour-Regular";
  src: url(../fonts/Harbour-Regular.ttf) format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: #ffc1d2;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.section-parallax {
  position: relative;
  height: 90vw;
  overflow: hidden;
}

section img {
  position: absolute;
}

main {
  background-color: black;
}

/* ====================================
// base rules
// ==================================== */
