.title-library {
  font-family: "Harbour-Regular";
  font-size: 22px;
  padding-top: 100px;
  color: white;
}

.text-library {
  padding-top: 10px;
  width: 500px;
  color: white;
  font-family: "Katari-Medium";
  text-transform: capitalize;
}

.container-footer-text {
  display: flex;
  flex-direction: row;
  padding-left: 20%;
  padding-top: 25%;
}

.container-footer-content {
  height: 85vh;
}

.footer-logo {
  display: block;
  padding-bottom: 10%;
}

.footer-logo img {
  display: block;
}

.col-6 {
  border: red solid 2px;
  height: 90vh;
}

.container-img-footer {
  display: flex;
}

.container-img-footer img {
  flex-direction: row;
  width: 40vw;
  padding: 30px;
}

.footer-btn {
  width: max-content;
  margin-top: 5%;
  padding: 15px;
  border: solid white 1px;
  font-family: "Harbour-Regular";
  font-size: 22px;
  color: white;
  transition: linear 0.2s;
}

.footer-btn:hover {
  background-color: white;
  color: black;
}

.footer-bottom-container {
  border-top: 1px solid white;
}

.footer-bottom-container .footer-creddit {
  font-size: 30px;
  color: white;
}

.container-footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container-image-book img {
  width: 20px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.container-footer-bottom-content {
  border-top: 1px solid white;
  height: 40vh;
}

.container-footer-bottom-text {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 50px;
}

.row {
  width: 100vw;
}

.container-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 150px;
}

.container-icon {
  padding-top: 5%;
}

.conditions ul {
  padding-top: 30px;
  font-family: "Katari-Medium";
  color: rgb(159, 159, 159);
}

.conditions a {
  display: flex;
  padding-top: 10px;
}

.newsletter {
  font-family: "Katari-Medium";
  color: rgb(159, 159, 159);
  text-transform: uppercase;
  margin-top: -1.3%;
}

.newsletter-container {
  display: flex;
  flex-direction: row-reverse;
}
