#bg {
}

#ysa {
  top: -400;
  width: 85%;
}

#portal {
  top: 350;
  width: 90%;
  left: 50;
}

#castle {
  top: 700;
}

#tree-right {
  left: 20%;
  width: 80%;
}

#tree-left {
  width: 80%;
  top: -100;
}

#midground {
  top: 600;
}

#foreground {
  top: 1500;
  z-index: 10;
}
