#bg {
}

#ysa {
  top: -8%;
  width: 80%;
  left: 100px;
}

#portal {
  top: 600px;
  width: 86%;
  left: 7%;
}

#castle {
  top: 550px;
}

#tree-right {
  left: 20%;
  width: 80%;
}

#tree-left {
  width: 70%;
  top: 50px;
}

#midground {
  top: 500px;
}

#foreground {
  top: 1500;
  z-index: 10;
}
