#ysa {
  position: absolute;
  bottom: 0;
  scale: 1.1;
}

#logo {
  position: fixed;
  top: -400;
  bottom: 0;
  scale: 0.9;
}

#portal {
  position: absolute;
  bottom: -480;
}

#castle {
  position: absolute;
  bottom: -320;
}

#tree-right {
  position: absolute;
  bottom: -250;
  scale: 0.9;
  left: 5%;
}

#tree-left {
  position: absolute;
  bottom: -150;
  scale: 0.9;
  right: 5%;
}

#midground {
  position: absolute;
  bottom: 0;
  scale: 1.1;
}

#foreground {
  position: absolute;
  bottom: 300;
  z-index: 1;
}

#logo {
  position: absolute;
  bottom: 0;
}

.background-parallax {
  opacity: 1;
}
