/* =======================SPACER==================================== */
.spacer {
  height: 100vh;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    #606dbc33,
    #606dbc33 10px,
    #606dbc00 10px,
    #606dbc00 20px
  );
}

.h-50 {
  height: 50vh;
}
.h-75 {
  height: 75vh;
}
.h-100 {
  height: 100vh;
}

/* slider mask */
.slider-mask {
  border: 5px solid black;
  border-radius: 10px;
  overflow: hidden;
  height: 100vh;
}

/* slider track */
.slider-track {
  height: 100%;
  display: inline-flex;
  border-radius: 5px;
}

/* slider item (screen) */
.slider-track .screen {
  width: calc(120vw - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-track .screen-2 {
  width: calc(190vw - 30px);
}

.slider-track .screen-4 {
  width: 200vw;
}

.screen-1 {
  background-image: url(../img/horizontal_characters/h-background/background-1.png);
  background-size: cover;
  z-index: 5;
}

.text-box-horizontal a {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  text-shadow: 7px 7px 7px black;
}

.character-presentation-text-bottom {
  font-family: "Katari-Medium";
  text-shadow: 3px 8px 3px black;
  font-size: 40px;
  color: white;
  text-align: center;
}

.character-presentation-top {
  font-family: "Harbour-Regular";
  font-size: 80px;
  text-transform: uppercase;
  color: aliceblue;
  text-align: center;
}

.screen-2 {
  background-image: url(../img/horizontal_characters/h-background/background-2.png);
  background-size: cover;
  z-index: 4;
}

.screen-3 {
  background-image: url(../img/horizontal_characters/h-background/background-3.png);
  background-size: cover;
  z-index: 3;
}

.screen-4 {
  background-image: url(../img/horizontal_characters/h-background/background-4.png);
  background-size: cover;
  z-index: 2;
}

.screen {
  animation: bgScroll 20s linear infinite;
}

.screen {
  height: 100%;
  width: fit-content;
  position: relative;
}

.layer-1-horizontal {
  position: absolute;
  left: 0;
}

.layer-2-horizontal {
  position: absolute;
  left: 5%;
  scale: 1.03;
  z-index: 3;
}

.layer-3-horizontal {
  position: absolute;
  right: 30%;
  scale: 1.03;
  z-index: 2;
}

.layer-4-horizontal {
  position: absolute;
  right: -50%;
  scale: 1.6;
  z-index: 2;
}

.layer-6-horizontal {
  position: absolute;
  left: 55%;
}

.layer-7-horizontal {
  position: absolute;
  left: 20%;
}

.layer-8-horizontal {
  position: absolute;
  left: -20%;
}

.layer-11-horizontal {
  position: absolute;
  left: 0%;
  z-index: 2;
  bottom: 0;
}

.layer-12-horizontal {
  position: absolute;
  right: 0%;
  z-index: 3;
  bottom: 0;
}

.layer-13-horizontal {
  position: absolute;
  right: -25%;
  scale: 1.2;
}

.layer-14-horizontal {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 2;
}

.layer-15-horizontal {
  position: absolute;
  left: 30%;
  bottom: 0;
  z-index: 2;
}

.layer-16-horizontal {
  position: absolute;
  left: 100%;
  bottom: 0;
  z-index: 2;
}

.layer-17-horizontal {
  position: absolute;
  right: 10%;
  z-index: 2;
}

.layer-18-horizontal {
  position: absolute;
  right: 10%;
  z-index: 3;
}

.layer-19-horizontal {
  position: absolute;
  z-index: 4;
  left: 15%;
}

.layer-20-horizontal {
  position: absolute;
  right: 30%;
  z-index: 3;
}
